<div class = "bootstrap-wrapper">
  <div class = "container">
    <div class = "row mt20">
      <div class = "col-md-6 offset-md-3">
        <mat-card>
          <div class = "container text-center">
            <img src="../../../assets/login.png" width = "100" height = "100">
          </div>

          <h1 class = "text-center">Inicio de sesión</h1>
          <form (ngSubmit) = "formSubmit()">
            <mat-form-field class = "full-width"  appearance = "outline">
              <mat-label>Nombre de usuario</mat-label>
              <input [(ngModel)] = "loginData.username" name = "username" required  matInput placeholder="Digite su nombre de usuario">
              <mat-hint>El nombre de usuario debe ser valido</mat-hint>
            </mat-form-field>
            <mat-form-field class="full-width"  appearance = "outline">
              <mat-label>Contraseña</mat-label>
              <input [(ngModel)] = "loginData.password" name = "password" required  type="password" matInput placeholder="Digite su contraseña">
              <mat-hint>La contraseña debe ser valida</mat-hint>
            </mat-form-field>

            <br><br>

            <div class = "container text-center">
              <button type = "submit" mat-raised-button color="primary">Iniciar sesión</button>
              <button type="reset" style = "margin-left: 20px;" mat-raised-button color="accent">Limpiar</button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
